In [4]:
import pandas as pd

In [5]:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]

In [6]:
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]

In [7]:
state = pd.Series(populations,index = index)

In [8]:
state

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [9]:
state['New York',2010]

19378102

In [10]:
state.index

Index([(u'California', 2000), (u'California', 2010),   (u'New York', 2000),
         (u'New York', 2010),      (u'Texas', 2000),      (u'Texas', 2010)],
      dtype='object')

In [11]:
#Read as return i from iteration in state index (cause we need 2010) 
[i for i in state.index if i[1]==2010]

[('California', 2010), ('New York', 2010), ('Texas', 2010)]

In [12]:
a=state[[i for i in state.index if i[1]==2010]]

In [13]:
a

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [14]:
state

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

## Pandas Multi-Index
Three types:
- from_tuple
- from_array
- from_product

In [15]:
index

[('California', 2000),
 ('California', 2010),
 ('New York', 2000),
 ('New York', 2010),
 ('Texas', 2000),
 ('Texas', 2010)]

In [16]:
state

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [17]:
index = pd.MultiIndex.from_tuples(index)

In [18]:
data = state.reindex(index)
data

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [19]:
d = data.unstack()
d

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [20]:
d.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [21]:
import numpy as np
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
df

        data1     data2
a 1  0.635066  0.723390
  2  0.588425  0.122445
b 1  0.554108  0.547291
  2  0.817727  0.380935

In [22]:
index = pd.MultiIndex.from_arrays([['a','a','b','c'],[1,2,1,2]])
index

MultiIndex(levels=[[u'a', u'b', u'c'], [1, 2]],
           labels=[[0, 0, 1, 2], [0, 1, 0, 1]])

In [23]:
pd.DataFrame(np.random.rand(4,2), index=index)

            0         1
a 1  0.438091  0.099123
  2  0.595947  0.766764
b 1  0.291855  0.939128
c 2  0.083335  0.520160

In [ ]:
index = pd.MultiIndex.from_product([['a','b'],[1,2]])

In [25]:
index

MultiIndex(levels=[[u'a', u'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [26]:
d=pd.DataFrame(np.random.rand(4,2), index =index)
d

            0         1
a 1  0.235064  0.655981
  2  0.679509  0.023924
b 1  0.772608  0.235492
  2  0.230216  0.248220

In [27]:
d.index.names = ['state','year']
d

                   0         1
state year
a     1     0.235064  0.655981
      2     0.679509  0.023924
b     1     0.772608  0.235492
      2     0.230216  0.248220

In [28]:
df = pd.DataFrame({'state':data})
df

                    state
California 2000  33871648
           2010  37253956
New York   2000  18976457
           2010  19378102
Texas      2000  20851820
           2010  25145561

In [29]:
data

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [30]:
df

                    state
California 2000  33871648
           2010  37253956
New York   2000  18976457
           2010  19378102
Texas      2000  20851820
           2010  25145561

In [31]:
df[['state']]

                    state
California 2000  33871648
           2010  37253956
New York   2000  18976457
           2010  19378102
Texas      2000  20851820
           2010  25145561

In [32]:
df.loc['New York',2000]

state    18976457
Name: (New York, 2000), dtype: int64