## PANDAS TIME SERIES

In [1]:
from datetime import datetime

In [2]:
datetime.now()

datetime.datetime(2017, 4, 14, 15, 28, 1, 319894)

In [3]:
datetime(year = 2015,month=7,day=4)

datetime.datetime(2015, 7, 4, 0, 0)

In [4]:
# How to convert a string into a date time object
from dateutil import parser
date= parser.parse("24th November 2017")

In [5]:
date

datetime.datetime(2017, 11, 24, 0, 0)

In [6]:
# How to find what weekday it is
date.strftime('%A')

'Friday'

In [7]:
date.strftime('%Y')

'2017'

In [8]:
date.strftime('%m')

'11'

In [9]:
import numpy as np

In [10]:
date = np.array('2015-07-24', dtype=np.datetime64)

In [11]:
date

array(datetime.date(2015, 7, 24), dtype='datetime64[D]')

In [12]:
d = date+np.arange(10)

In [13]:
d

array(['2015-07-24', '2015-07-25', '2015-07-26', '2015-07-27',
       '2015-07-28', '2015-07-29', '2015-07-30', '2015-07-31',
       '2015-08-01', '2015-08-02'], dtype='datetime64[D]')

In [14]:
s=d[9]

In [15]:
str(s)

'2015-08-02'

In [16]:
np.arange(12)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

### CODE BREAKDOWN
#M --> Month
#W --> Week
#D --> Day
#h --> hour
#m --> Minute
#s --> second
#ms --> Millisecond
#us --> Microsecond
#ns --> Nanosecond
#ps --> Picosecond
#fs --> Femtosecond
#as --> Attosecond

## Pandas - DATE & TIME

In [17]:
import pandas as pd

In [18]:
#Convert string into timestamp object
date = pd.to_datetime('5th of July 2019')

In [19]:
date

Timestamp('2019-07-05 00:00:00')

In [20]:
date + pd.to_timedelta(np.arange(12),'M')

DatetimeIndex(['2019-07-05 00:00:00', '2019-08-04 10:29:06',
               '2019-09-03 20:58:12', '2019-10-04 07:27:18',
               '2019-11-03 17:56:24', '2019-12-04 04:25:30',
               '2020-01-03 14:54:36', '2020-02-03 01:23:42',
               '2020-03-04 11:52:48', '2020-04-03 22:21:54',
               '2020-05-04 08:51:00', '2020-06-03 19:20:06'],
              dtype='datetime64[ns]', freq=None)

In [21]:
date+pd.to_timedelta(np.arange(12),'Y')

DatetimeIndex(['2019-07-05 00:00:00', '2020-07-04 05:49:12',
               '2021-07-04 11:38:24', '2022-07-04 17:27:36',
               '2023-07-04 23:16:48', '2024-07-04 05:06:00',
               '2025-07-04 10:55:12', '2026-07-04 16:44:24',
               '2027-07-04 22:33:36', '2028-07-04 04:22:48',
               '2029-07-04 10:12:00', '2030-07-04 16:01:12'],
              dtype='datetime64[ns]', freq=None)

### INDEXING BY TIME:
- Objective is to use datetime as index column and not a regular column
- Before using datetime as index, convert date column as index

In [22]:
index = pd.DatetimeIndex(['2017-07-04','2017-08-04','2017-09-04','2017-10-04'])

In [23]:
index

DatetimeIndex(['2017-07-04', '2017-08-04', '2017-09-04', '2017-10-04'], dtype='datetime64[ns]', freq=None)

In [24]:
data = pd.Series([0,1,2,3],index = index)

In [25]:
data

2017-07-04    0
2017-08-04    1
2017-09-04    2
2017-10-04    3
dtype: int64

In [26]:
data['2017-07-04':'2017-09-04']

2017-07-04    0
2017-08-04    1
2017-09-04    2
dtype: int64

In [27]:
index = pd.DatetimeIndex(['2017-07-04','2017-08-04','2018-09-04','2018-10-04'])
data = pd.Series([0,1,2,3],index = index)

In [28]:
data['2017']

2017-07-04    0
2017-08-04    1
dtype: int64

In [29]:
pd.date_range('2017',periods=10,freq='A')

DatetimeIndex(['2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31',
               '2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [30]:
pd.date_range('2018',periods=9,freq='m')

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
               '2018-09-30'],
              dtype='datetime64[ns]', freq='M')

In [31]:
date = pd.to_datetime("5th of July 2019")

In [32]:
pd.date_range('2017-07-03',periods=10,freq='5w')

DatetimeIndex(['2017-07-09', '2017-08-13', '2017-09-17', '2017-10-22',
               '2017-11-26', '2017-12-31', '2018-02-04', '2018-03-11',
               '2018-04-15', '2018-05-20'],
              dtype='datetime64[ns]', freq='5W-SUN')

In [33]:
pd.timedelta_range(0,periods=9,freq='4H30T30D')

TimedeltaIndex([  '0 days 00:00:00',  '30 days 04:30:00',  '60 days 09:00:00',
                 '90 days 13:30:00', '120 days 18:00:00', '150 days 22:30:00',
                '181 days 03:00:00', '211 days 07:30:00', '241 days 12:00:00'],
               dtype='timedelta64[ns]', freq='43470T')

#### CODE DESCRIPTION
-D - Calendar day
-B - Business day
-W - weekly
-M - Month
-BM - Business Month
-Q - Quarter 
-BQ - Business Quarter
-A - Year end
-BA - Business Year
-H - Hours
-BH - Business Hours
-T - Minutes
-S - Seconds
-L - Milliseconds
-U - Microseconds
-N - Nanoseconds

## Pandas_datareader import

In [34]:
from pandas_datareader import data

In [35]:
goog = data.DataReader('GOOG',start='2014', end = '2016', data_source='google')

In [36]:
goog.head()

              Open    High     Low   Close  Volume
Date
2014-01-02  557.17  558.32  553.58  556.00     NaN
2014-01-03  556.94  557.91  551.91  551.95     NaN
2014-01-06  555.95  558.87  552.67  558.10     NaN
2014-01-07  561.94  569.28  560.02  568.86     NaN
2014-01-08  572.43  573.09  566.08  570.04     NaN

In [37]:
len(goog)

504

In [38]:
goog['2015-12-01':'2015-12-31']

              Open    High     Low   Close     Volume
Date
2015-12-01  747.11  768.95  746.70  767.04  2129940.0
2015-12-02  768.90  775.96  758.96  762.38  2195686.0
2015-12-03  766.01  769.00  745.63  752.54  2590641.0
2015-12-04  753.10  768.49  750.00  766.81  2757283.0
2015-12-07  767.77  768.73  755.09  763.25  1812314.0
2015-12-08  757.89  764.80  754.20  762.37  1829475.0
2015-12-09  759.17  764.23  737.00  751.61  2699990.0
2015-12-10  752.85  755.85  743.83  749.46  1988380.0
2015-12-11  741.16  745.71  736.75  738.87  2224410.0
2015-12-14  741.79  748.73  724.17  747.77  2412497.0
2015-12-15  753.00  758.08  743.01  743.40  2666229.0
2015-12-16  750.00  760.59  739.44  758.09  1993251.0
2015-12-17  762.42  762.68  749.00  749.43  1553418.0
2015-12-18  746.51  754.13  738.15  739.31  3148743.0
2015-12-21  746.13  750.00  740.00  747.77  1525703.0
2015-12-22  751.65  754.85  745.53  750.00  1365520.0
2015-12-23  753.47  754.21  744.00  750.31  1566726.0
2015-12-24  749.55  751.35  746.62  748.40   527223.0
2015-12-28  752.92  762.99  749.52  762.51  1515716.0
2015-12-29  766.69  779.98  766.43  776.60  1765012.0
2015-12-30  776.60  777.60  766.90  771.00  1293521.0
2015-12-31  769.50  769.50  758.34  758.88  1500923.0

In [39]:
goog.max()

Open           776.60
High           779.98
Low            766.90
Close          776.60
Volume    11164943.00
dtype: float64

In [40]:
data = pd.read_csv('https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD',index_col='Date',parse_dates=True)

In [43]:
data.columns = ['East','West']

In [44]:
data

                      East   West
Date
2012-10-03 00:00:00    4.0    9.0
2012-10-03 01:00:00    4.0    6.0
2012-10-03 02:00:00    1.0    1.0
2012-10-03 03:00:00    2.0    3.0
2012-10-03 04:00:00    6.0    1.0
2012-10-03 05:00:00   21.0   10.0
2012-10-03 06:00:00  105.0   50.0
2012-10-03 07:00:00  257.0   95.0
2012-10-03 08:00:00  291.0  146.0
2012-10-03 09:00:00  172.0  104.0
2012-10-03 10:00:00   72.0   46.0
2012-10-03 11:00:00   10.0   32.0
2012-10-03 12:00:00   35.0   41.0
2012-10-03 13:00:00   42.0   48.0
2012-10-03 14:00:00   77.0   51.0
2012-10-03 15:00:00   72.0   92.0
2012-10-03 16:00:00  133.0  182.0
2012-10-03 17:00:00  192.0  391.0
2012-10-03 18:00:00  122.0  258.0
2012-10-03 19:00:00   59.0   69.0
2012-10-03 20:00:00   29.0   51.0
2012-10-03 21:00:00   25.0   38.0
2012-10-03 22:00:00   24.0   25.0
2012-10-03 23:00:00    5.0   12.0
2012-10-04 00:00:00    7.0   11.0
2012-10-04 01:00:00    3.0    0.0
2012-10-04 02:00:00    3.0    6.0
2012-10-04 03:00:00    0.0    3.0
2012-10-04 04:00:00    7.0    1.0
2012-10-04 05:00:00   15.0   11.0
...                    ...    ...
2017-03-30 18:00:00  104.0  213.0
2017-03-30 19:00:00   50.0  125.0
2017-03-30 20:00:00   25.0   58.0
2017-03-30 21:00:00   15.0   21.0
2017-03-30 22:00:00   10.0   20.0
2017-03-30 23:00:00   11.0    5.0
2017-03-31 00:00:00    2.0    4.0
2017-03-31 01:00:00    2.0    0.0
2017-03-31 02:00:00    1.0    0.0
2017-03-31 03:00:00    1.0    0.0
2017-03-31 04:00:00    3.0    3.0
2017-03-31 05:00:00   23.0   14.0
2017-03-31 06:00:00   57.0   49.0
2017-03-31 07:00:00  163.0   99.0
2017-03-31 08:00:00  250.0  162.0
2017-03-31 09:00:00   90.0   70.0
2017-03-31 10:00:00   52.0   38.0
2017-03-31 11:00:00   39.0   31.0
2017-03-31 12:00:00   37.0   37.0
2017-03-31 13:00:00   52.0   34.0
2017-03-31 14:00:00   45.0   55.0
2017-03-31 15:00:00   74.0   87.0
2017-03-31 16:00:00   83.0  223.0
2017-03-31 17:00:00  145.0  333.0
2017-03-31 18:00:00  117.0  206.0
2017-03-31 19:00:00   50.0   84.0
2017-03-31 20:00:00   26.0   36.0
2017-03-31 21:00:00   16.0   40.0
2017-03-31 22:00:00   12.0   22.0
2017-03-31 23:00:00    5.0   15.0

[39384 rows x 2 columns]

In [45]:
data['total'] = data['East']+ data['West']

In [46]:
data

                      East   West  total
Date
2012-10-03 00:00:00    4.0    9.0   13.0
2012-10-03 01:00:00    4.0    6.0   10.0
2012-10-03 02:00:00    1.0    1.0    2.0
2012-10-03 03:00:00    2.0    3.0    5.0
2012-10-03 04:00:00    6.0    1.0    7.0
2012-10-03 05:00:00   21.0   10.0   31.0
2012-10-03 06:00:00  105.0   50.0  155.0
2012-10-03 07:00:00  257.0   95.0  352.0
2012-10-03 08:00:00  291.0  146.0  437.0
2012-10-03 09:00:00  172.0  104.0  276.0
2012-10-03 10:00:00   72.0   46.0  118.0
2012-10-03 11:00:00   10.0   32.0   42.0
2012-10-03 12:00:00   35.0   41.0   76.0
2012-10-03 13:00:00   42.0   48.0   90.0
2012-10-03 14:00:00   77.0   51.0  128.0
2012-10-03 15:00:00   72.0   92.0  164.0
2012-10-03 16:00:00  133.0  182.0  315.0
2012-10-03 17:00:00  192.0  391.0  583.0
2012-10-03 18:00:00  122.0  258.0  380.0
2012-10-03 19:00:00   59.0   69.0  128.0
2012-10-03 20:00:00   29.0   51.0   80.0
2012-10-03 21:00:00   25.0   38.0   63.0
2012-10-03 22:00:00   24.0   25.0   49.0
2012-10-03 23:00:00    5.0   12.0   17.0
2012-10-04 00:00:00    7.0   11.0   18.0
2012-10-04 01:00:00    3.0    0.0    3.0
2012-10-04 02:00:00    3.0    6.0    9.0
2012-10-04 03:00:00    0.0    3.0    3.0
2012-10-04 04:00:00    7.0    1.0    8.0
2012-10-04 05:00:00   15.0   11.0   26.0
...                    ...    ...    ...
2017-03-30 18:00:00  104.0  213.0  317.0
2017-03-30 19:00:00   50.0  125.0  175.0
2017-03-30 20:00:00   25.0   58.0   83.0
2017-03-30 21:00:00   15.0   21.0   36.0
2017-03-30 22:00:00   10.0   20.0   30.0
2017-03-30 23:00:00   11.0    5.0   16.0
2017-03-31 00:00:00    2.0    4.0    6.0
2017-03-31 01:00:00    2.0    0.0    2.0
2017-03-31 02:00:00    1.0    0.0    1.0
2017-03-31 03:00:00    1.0    0.0    1.0
2017-03-31 04:00:00    3.0    3.0    6.0
2017-03-31 05:00:00   23.0   14.0   37.0
2017-03-31 06:00:00   57.0   49.0  106.0
2017-03-31 07:00:00  163.0   99.0  262.0
2017-03-31 08:00:00  250.0  162.0  412.0
2017-03-31 09:00:00   90.0   70.0  160.0
2017-03-31 10:00:00   52.0   38.0   90.0
2017-03-31 11:00:00   39.0   31.0   70.0
2017-03-31 12:00:00   37.0   37.0   74.0
2017-03-31 13:00:00   52.0   34.0   86.0
2017-03-31 14:00:00   45.0   55.0  100.0
2017-03-31 15:00:00   74.0   87.0  161.0
2017-03-31 16:00:00   83.0  223.0  306.0
2017-03-31 17:00:00  145.0  333.0  478.0
2017-03-31 18:00:00  117.0  206.0  323.0
2017-03-31 19:00:00   50.0   84.0  134.0
2017-03-31 20:00:00   26.0   36.0   62.0
2017-03-31 21:00:00   16.0   40.0   56.0
2017-03-31 22:00:00   12.0   22.0   34.0
2017-03-31 23:00:00    5.0   15.0   20.0

[39384 rows x 3 columns]