## Pandas String Operation

#### Handling Data and Manupulating is very important
#### Provides comprehensive set of vectorized string operations for various types of data munging

In [1]:
import pandas as pd

In [2]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [3]:
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [4]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [5]:
monte.str.contains('oh')

0    False
1     True
2    False
3    False
4    False
5    False
dtype: bool

In [6]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [17]:
monte.str.extract('([A-Zd-s]+)',expand=False)

0      Gr
1    John
2    Terr
3     Eri
4    Terr
5      Mi
dtype: object

In [19]:
monte.str.findall(r'^[AEIOU].*[aeiou]$')

0             []
1             []
2             []
3    [Eric Idle]
4             []
5             []
dtype: object

In [21]:
monte.str[0:5]

0    Graha
1    John
2    Terry
3    Eric
4    Terry
5    Micha
dtype: object

In [24]:
help(monte.str.pad)

Help on method pad in module pandas.core.strings:

pad(self, width, side='left', fillchar=' ') method of pandas.core.strings.StringMethods instance
    Pad strings in the Series/Index with an additional character to
    specified side.

    Parameters
    ----------
    width : int
        Minimum width of resulting string; additional characters will be filled
        with spaces
    side : {'left', 'right', 'both'}, default 'left'
    fillchar : str
        Additional character for filling, default is whitespace

    Returns
    -------
    padded : Series/Index of objects