In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'A':['A1','A2','A3'], 'B':['B1','B2','B3']}, index=['idA','idB','idC'])
df

      A   B
idA  A1  B1
idB  A2  B2
idC  A3  B3

In [6]:
d1 = pd.Series(['A','B','C'], index=[1,2,3])
d1

1    A
2    B
3    C
dtype: object

In [7]:
d2 = pd.Series(['D','E','F'], index=[3,5,6])
d2

3    D
5    E
6    F
dtype: object

In [9]:
pd.concat([d1,d2])

1    A
2    B
3    C
3    D
5    E
6    F
dtype: object

In [15]:
pd.concat([d1,d2],axis=1)

     0    1
1    A  NaN
2    B  NaN
3    C    D
5  NaN    E
6  NaN    F

In [11]:
d1

1    A
2    B
3    C
dtype: object

In [12]:
d2

3    D
5    E
6    F
dtype: object

In [13]:
d1.append(d2)

1    A
2    B
3    C
3    D
5    E
6    F
dtype: object

In [16]:

def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    print data
    return pd.DataFrame(data, ind)

In [17]:
d1 = make_df('ABC', range(3))

{'A': ['A0', 'A1', 'A2'], 'C': ['C0', 'C1', 'C2'], 'B': ['B0', 'B1', 'B2']}

In [18]:
d2 = make_df('DEF', range(3))

{'E': ['E0', 'E1', 'E2'], 'D': ['D0', 'D1', 'D2'], 'F': ['F0', 'F1', 'F2']}

In [19]:
d1

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [20]:
d2

    D   E   F
0  D0  E0  F0
1  D1  E1  F1
2  D2  E2  F2

In [22]:
pd.concat([d1,d2],axis=1)

    A   B   C   D   E   F
0  A0  B0  C0  D0  E0  F0
1  A1  B1  C1  D1  E1  F1
2  A2  B2  C2  D2  E2  F2

In [23]:
pd.concat([d1,d2])

     A    B    C    D    E    F
0   A0   B0   C0  NaN  NaN  NaN
1   A1   B1   C1  NaN  NaN  NaN
2   A2   B2   C2  NaN  NaN  NaN
0  NaN  NaN  NaN   D0   E0   F0
1  NaN  NaN  NaN   D1   E1   F1
2  NaN  NaN  NaN   D2   E2   F2

In [24]:
d5 = make_df('ABC', [1,2])

{'A': ['A1', 'A2'], 'C': ['C1', 'C2'], 'B': ['B1', 'B2']}

In [25]:
df6 = make_df('BCD',[3,4])

{'C': ['C3', 'C4'], 'B': ['B3', 'B4'], 'D': ['D3', 'D4']}

In [26]:
pd.concat([d5,df6], join='inner')

    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [27]:
d5

    A   B   C
1  A1  B1  C1
2  A2  B2  C2

In [28]:
df6

    B   C   D
3  B3  C3  D3
4  B4  C4  D4

In [29]:
def make_df(cols,ind):
    """Quickly make a DateFrame"""
    data = {c:[str(c)+str(i) for i in ind]
            for c in cols}
    print data
    return pd.DataFrame(data,ind)

In [30]:
make_df('ABC', range(3))

{'A': ['A0', 'A1', 'A2'], 'C': ['C0', 'C1', 'C2'], 'B': ['B0', 'B1', 'B2']}

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [32]:
df1 = make_df('ABC',range(3))
df2 = make_df('AEF',range(3))
pd.concat([df1,df2])

{'A': ['A0', 'A1', 'A2'], 'C': ['C0', 'C1', 'C2'], 'B': ['B0', 'B1', 'B2']}
{'A': ['A0', 'A1', 'A2'], 'E': ['E0', 'E1', 'E2'], 'F': ['F0', 'F1', 'F2']}

    A    B    C    E    F
0  A0   B0   C0  NaN  NaN
1  A1   B1   C1  NaN  NaN
2  A2   B2   C2  NaN  NaN
0  A0  NaN  NaN   E0   F0
1  A1  NaN  NaN   E1   F1
2  A2  NaN  NaN   E2   F2

In [33]:
pd.concat([df1,df2],axis=1)

    A   B   C   A   E   F
0  A0  B0  C0  A0  E0  F0
1  A1  B1  C1  A1  E1  F1
2  A2  B2  C2  A2  E2  F2

In [34]:
df1

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [35]:
df3 = make_df('ABC',range(5,8))

{'A': ['A5', 'A6', 'A7'], 'C': ['C5', 'C6', 'C7'], 'B': ['B5', 'B6', 'B7']}

In [36]:
df3

    A   B   C
5  A5  B5  C5
6  A6  B6  C6
7  A7  B7  C7

In [37]:
df1=df1.append(df3)

In [38]:
df1

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
5  A5  B5  C5
6  A6  B6  C6
7  A7  B7  C7

In [39]:
df2

    A   E   F
0  A0  E0  F0
1  A1  E1  F1
2  A2  E2  F2

In [40]:
df1.append(df2)

    A    B    C    E    F
0  A0   B0   C0  NaN  NaN
1  A1   B1   C1  NaN  NaN
2  A2   B2   C2  NaN  NaN
5  A5   B5   C5  NaN  NaN
6  A6   B6   C6  NaN  NaN
7  A7   B7   C7  NaN  NaN
0  A0  NaN  NaN   E0   F0
1  A1  NaN  NaN   E1   F1
2  A2  NaN  NaN   E2   F2

In [41]:
df1

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
5  A5  B5  C5
6  A6  B6  C6
7  A7  B7  C7

In [42]:
df2

    A   E   F
0  A0  E0  F0
1  A1  E1  F1
2  A2  E2  F2

In [43]:
df2.append(df1)

    A    B    C    E    F
0  A0  NaN  NaN   E0   F0
1  A1  NaN  NaN   E1   F1
2  A2  NaN  NaN   E2   F2
0  A0   B0   C0  NaN  NaN
1  A1   B1   C1  NaN  NaN
2  A2   B2   C2  NaN  NaN
5  A5   B5   C5  NaN  NaN
6  A6   B6   C6  NaN  NaN
7  A7   B7   C7  NaN  NaN

In [44]:
df2

    A   E   F
0  A0  E0  F0
1  A1  E1  F1
2  A2  E2  F2